.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 254px;
  margin: auto;
  text-align: center;
  margin-bottom: 91px;
}
.header__logo {
  margin-top: 34px;
}
.header__logo-title {
  text-align: center;
}
