.photo-grid {
  width: 100%;
  max-width: 1184px;
  margin: 43px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
.photo-grid__item {
  width: 100%;
  max-width: 284px;
}
